<ng-container *ngIf="event">
  <div class="container title-and-search">
    <h1 class="display-4" *ngIf="!event.id; else modify">Új túra</h1>
    <ng-template #modify>
      <h1 class="display-4">"{{event.title}}" módosítása</h1>
    </ng-template>
  </div>

  <div class="container">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-sm-8">
          <label for="title">Cím:</label>
          <input type="text"
                 class="form-control"
                 id="title"
                 placeholder="A túra címe, max. 25 karakter..."
                 maxlength="25"
                 formControlName="title"
                 [ngClass]="{'is-invalid': submitted && eventForm.get('title').invalid}">
          <div class="invalid-feedback"
               *ngIf="eventForm.get('title').hasError('required')">Kérjük,
            töltsd ki ezt a mezőt
          </div>
          <div class="invalid-feedback"
               *ngIf="eventForm.get('title').hasError('maxLength')">A mező
            hossza maximum 25 karakter lehet
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label for="days">Időtartam:</label>
          <input type="number"
                 class="form-control"
                 id="days"
                 placeholder="Napok száma..."
                 formControlName="days"
                 [ngClass]="{'is-invalid': submitted && eventForm.get('days').invalid}">
          <div class="invalid-feedback"
               *ngIf="submitted && eventForm.get('days').hasError('required')">
            A túra időtartamát meg kall adni
          </div>
          <div class="invalid-feedback"
               *ngIf="submitted && eventForm.get('days').hasError('min')">
            A túra időtartamának minimális értéke 1 (nap)!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-lg-4">
          <label for="country">Ország:</label>
          <input type="text"
                 class="form-control"
                 id="country"
                 placeholder="Hol lesz? max. 25 karakter..."
                 maxlength="25"
                 formControlName="country"
                 [ngClass]="{'is-invalid': submitted && eventForm.get('country').invalid}">
          <div class="invalid-feedback"
               *ngIf="submitted && eventForm.get('country').hasError('required')">
            Kérjük, add meg a túra helyszínét
          </div>
          <div class="invalid-feedback"
               *ngIf="eventForm.get('country').hasError('maxLength')">A mező
            hossza maximum 25 karakter lehet
          </div>
        </div>
        <div class="form-group col-md-6 col-lg-4">
          <label for="region">Közelebbi helyszín:</label>
          <input type="text"
                 class="form-control"
                 id="region"
                 placeholder="Régió v. hegység? max. 25 karakter..."
                 maxlength="50"
                 formControlName="region"
                 [ngClass]="{'is-invalid': submitted && eventForm.get('region').invalid}">
        </div>
        <div class="invalid-feedback"
             *ngIf="eventForm.get('title').hasError('maxLength')">A mező
          hossza maximum 50 karakter lehet
        </div>
        <div class="form-group col-md-6 col-lg-4">
          <label for="date">Túra kezdete:</label>
          <input type="date"
                 class="form-control"
                 id="date"
                 [ngClass]="{'is-invalid': submitted && eventForm.get('date').invalid}"
                 formControlName="date">
          <div class="invalid-feedback"
               *ngIf="submitted && eventForm.get('date').hasError('required')">
            Add meg a túra indulásának időpontját
          </div>
          <div class="invalid-feedback"
               *ngIf="submitted && eventForm.get('date').hasError('validateFuture')">
            A túra indulásának időpontja nem lehet a múltban
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Leírás:</label>
        <quill-editor id="description"
                      class="form-control p-0"
                      formControlName="description"
                      [modules]="quillModules"
                      [style]="{height: '100px'}"
                      placeholder="Itt add meg a túra részleteit..."
                      [ngClass]="{'is-invalid': submitted && eventForm.get('description').invalid}"
                      >
        </quill-editor>
        <div class="invalid-feedback"
             *ngIf="submitted && eventForm.get('description').hasError('required')">
          Adj meg leírást a túrához
        </div>
      </div>
      <div class="form-group" id="categories">
        <dl class="mydl">Válassz kategóriát:</dl>
        <div class="row">

          <div class="col-6 col-md-3 col-lg-2"
               *ngFor="let ev of eventCategories">
            <div class="card categories category-input text-center"
                 (click)="onCategoryClick($event)"
                 [ngClass]="{'invalid-category': submitted && eventForm.get('category').invalid, 'category-checked': eventForm.get('category').value === ev.category}">
              <img class="card-img-top" [src]="ev.picUrl"
                   alt="Card image cap">
              <div class="card-body">
                <p>{{ev.category}}</p>
                <input type="radio"
                       formControlName="category"
                       class="custom-control-input"
                       value="{{ev.category}}">
              </div>
            </div>
          </div>
          <div class="feedback-invalid col-12"
               *ngIf="submitted && eventForm.get('category').hasError('required')">
            A kategória kiválasztása kötelező
          </div>
        </div>
      </div>

      <app-img [uploadedImages]="uploadedImages"
               [imagesString]="event.images"
               [oldCoverImg]="oldCoverImg"
               [whereTo]="'events'"
               [id]="event.id"
               (alert)="setAlert($event)"
               (formValue)="filesChange($event.images)">

      </app-img>

      <alert type="success" dismissOnTimeout="3000"
             (onClosed)="ifNew()"
             *ngIf="success">
        <p>{{success}}</p>
      </alert>

      <alert type="danger" [dismissible]="true"
             (onClose)="clearError()"
             *ngIf="error">
        <p>{{error}}</p>
      </alert>

      <app-owner-buttons class="col-12 text-right mb-3"
                         [currentUser]="currentUser"
                         [submitted]="submitted"
                         [model]="event"
                         [isOnEdit]="true"
                         (delete)="onDelete($event.idFromButton)"
                         (save)="onSubmit()"
                         (toView)="onToView()">
      </app-owner-buttons>
    </form>
  </div>
</ng-container>

