:host {
  display: block;
  position: fixed;
  top: 70px;
  right: 5px;
  width: 180px;
  height: auto;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.friend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.card > .card-header {
  font-size: 14px;
  padding: 5px 10px;
}

.card > .card-body {
  max-height: 250px;
  padding: 0;
  overflow-y: auto;
}


@media (max-width: 576px) {
  /*:host {*/
    /*height: auto;*/
    /*width: 100%;*/
    /*right: 0;*/
    /*padding: 0 5px;*/
  /*}*/
}
