<ng-container *ngIf="item">
  <div class="container title-and-search">
    <h1 class="display-4">{{item.title}}</h1>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h2>Ár: {{item.price | number | pointReplacer}} Ft</h2>
        <hr />
        <h3>{{item.category}}</h3>
        <h4>Feltöltötte: {{item.creator.nick}}</h4>
        <h4>Tel: {{item.creator.tel}}</h4>
        <h5>Közzétéve: {{item.dateOfPublish | amFromUnix | amDateFormat:
          'LL'}}</h5>
        <br />
      </div>

      <div class="col-md-6">
        <h2>Leírás:</h2>
        <hr/>
        <p>{{item.shortDescription}}</p>
        <p>{{item.description}}</p>
      </div>
    </div>

    <div class="row">
      <app-owner-buttons class="col-12 text-right mb-3"
                         [currentUser]="currentUser"
                         [isOnEdit]="false"
                         [model]="item"
                         (delete)="onDelete($event.idFromButton)"
                         (edit)="onEdit($event.idFromButton)">
      </app-owner-buttons>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="imagesPreviewContainer mt-2" *ngIf="item.images">
          <img *ngFor="let image of item.images.split(',')"
               src="{{root}}{{image}}"
               title="{{item.title}}"
               alt="{{item.title}}"
               (click)="clicked(i)"
               height="120">
        </div>
      </div>
    </div>
  </div>

  <app-swiper class="fixedSwiper"
              *ngIf="item.images && showImageSwiper"
              [images]="item.images"
              [swiperIndex]="swiperIndex"
              (hideImageSwiper)="showImageSwiper = false">
  </app-swiper>

</ng-container>

