<ng-container *ngIf="item$ | async as item; else loading">
  <div class="container title-and-search">
    <h1 class="display-4">{{item.title}}</h1>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h2>Ár: {{item.price | number | pointReplacer}} Ft</h2>
        <hr />
        <h4>{{item.category}}</h4>
        <h4 class="pt-2">Feltöltötte: {{item.creator.nick}}</h4>
        <br />
        <h5 class="pt-2">Tel: {{item.creator.tel}}</h5>
        <h5 class="pt-2">Közzétéve: {{item.dateOfPublish | amFromUnix |
          amDateFormat:
          'LL'}}</h5>
        <br />

      </div>

      <div class="col-md-8">
        <h2>Leírás:</h2>
        <hr/>
        <p>{{item.shortDescription}}</p>
        <p>{{item.description}}</p>
      </div>
    </div>

   <div class="row">
    <div class="col-12 text-right">
        <button *ngIf="currentUser"
                class="btn btn-small btn-primary"
                (click)="showChat = !showChat"
                title="Chat ablak kinyitása"
                [disabled]="showChat">
          <i class="icon-comment"></i> Chat
        </button>
        <button class="btn btn-small btn-primary"
                *ngIf="!currentUser || (currentUser && currentUser.id !== item.creatorId)"
                (click)="showEmailModalWindow(emailModal)"
                title="Levél a hirdetőnek">
          <i class="icon-mail-1"></i> Levél a hirdetőnek
        </button>
      </div>

      <app-owner-buttons class="col-12 text-right mb-3"
                         [currentUser]="currentUser"
                         [isOnEdit]="false"
                         [model]="item"
                         (delete)="onDelete($event.idFromButton)"
                         (edit)="onEdit($event.idFromButton)">
      </app-owner-buttons>

     <div class="col-12" *ngIf="error">
       <alert *ngIf="error">
         {{error}}
       </alert>
     </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="imagesPreviewContainer mt-2" *ngIf="item.images">
          <img *ngFor="let image of item.images.split(',')"
               src="{{root}}{{image}}"
               title="{{item.title}}"
               alt="{{item.title}}"
               (click)="clicked(i)"
               height="120">
        </div>
      </div>
    </div>
  </div>

  <app-swiper class="fixedSwiper"
              *ngIf="item.images && showImageSwiper"
              [images]="item.images"
              [swiperIndex]="swiperIndex"
              (hideImageSwiper)="showImageSwiper = false">
  </app-swiper>

  <app-chat-window *ngIf="currentUser && showChat"
                   [roomId]="'room/' + item.id"
                   [isNewFriend]="false"
                   (closeChatWindow)="closeChat()"
                   [friend]="null"
                   [title]="'Chat'">
  </app-chat-window>

  <ng-template #emailModal>
    <app-email [emailModalTitle]="emailModalTitle"
               [currentEmail]="currentUser ? currentUser.email : ''"
               [recipientsId]="recipientsId"
               [subject]="item.title"
               (closeModal)="closeModal()">
    </app-email>
  </ng-template>

</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

