<ng-container *ngIf="item">
  <div class="container title-and-search">
    <h1 class="display-4">{{item.title}}</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Ár: {{item.price | number | pointReplacer}} Ft</h2>
        <br />
        <h3>Kategória: {{item.category}}</h3>
        <h4>Feltöltötte: {{item.creator.nick}}, telefon: {{item.creator
          .tel}}</h4>
        <h5>Közzétéve: {{item.dateOfPublish | amFromUnix | amDateFormat:
          'LL'}}</h5>
        <br />
        <h3>Leírás:</h3>
        <hr/>
        <p>{{item.shortDescription}}</p>
        <p>{{item.description}}</p>
      </div>
      <div class="col-md-4">
        <div style="border: 1px solid grey; padding: 15px; width: 100%; height: 100%;">
          <p>Ide jönnek majd a fényképek</p>
        </div>
      </div>
    </div>
    <app-owner-buttons class="row"
                       [currentUser]="currentUser"
                       [isOnEdit]="false"
                       [model]="item"
                       (delete)="onDelete($event.idFromButton)"
                       (edit)="onEdit($event.idFromButton)"
    ></app-owner-buttons>
  </div>
</ng-container>

