<ng-container *ngIf="item">
  <div class="container title-and-search">
    <h1 class="display-4" *ngIf="!item.id; else modify">Új hirdetés</h1>
    <ng-template #modify>
      <h1 class="display-4">"{{item.title}}" módosítása</h1>
    </ng-template>
  </div>

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="form-group col-sm-8">
          <label for="title">Név:</label>
          <input type="text"
                 formControlName="title"
                 class="form-control"
                 id="title"
                 placeholder="Cucc megnevezése, max. 25 karakter..."
                 maxlength="25"
                 [ngClass]="{'is-invalid': submitted && form.get('title').invalid}">
          <div class="invalid-feedback"
               *ngIf="form.get('title').hasError('required')">
            A név kitöltése kötelező
          </div>
        </div>

        <div class="form-group col-sm-4">
          <label for="price">Ár forintban:</label>
          <input type="number"
                 formControlName="price"
                 class="form-control"
                 id="price"
                 placeholder="Ár Ft-ban..."
                 [ngClass]="{'is-invalid': submitted && form.get('price').invalid}">
          <div class="invalid-feedback"
               *ngIf="form.get('price').hasError('required')">
            Az ár kitöltése kötelező
          </div>
          <div class="invalid-feedback"
               *ngIf="form.get('price').hasError('priceValidator')">
            Negatív árat nem adhatsz meg
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="shortDescription">Rövid leírás:</label>
        <input type="text"
               formControlName="shortDescription"
               class="form-control"
               id="shortDescription"
               placeholder="Rövid leírás, max. 80 karakter..."
               maxlength="80">
        <small id="emailHelp" class="form-text text-muted">Ez a szöveg fog
          megjelenni a lista nézetekben az egyes kártyákon.
        </small>
      </div>

      <div class="form-group">
        <label for="description">Leírás:</label>
        <quill-editor id="description"
                      class="form-control p-0"
                      formControlName="description"
                      [modules]="quillModules"
                      [style]="{height: '100px'}"
                      placeholder="Ide hosszabb szöveget is írhatsz, mely a terméklapon a rövid leírás folytatásaként jelenik meg..."
                      [ngClass]="{'is-invalid': submitted && form.get('description').invalid}">
        </quill-editor>
      </div>
      <div class="form-group" id="categories">
        <dl class="mydl">Válassz kategóriát:</dl>
        <div class="row">
          <div class="col-6 col-md-3 col-lg-2"
               *ngFor="let cat of itemCategories">
            <div class="card categories category-input text-center"
                 [ngClass]="{'invalid-category': submitted && form.get('category').invalid, 'category-checked': form.get('category').value === cat.category}"
                 (click)="onCategoryClick($event)">
              <img class="card-img-top" [src]="cat.picUrl"
                   alt="Card image cap">
              <div class="card-body">
                <p class="mb-1">{{cat.category}}</p>
                  <input type="radio"
                         class="custom-control-input"
                         formControlName="category"
                         value="{{cat.category}}">
              </div>
            </div>
          </div>
          <div class="feedback-invalid col-12"
          *ngIf="submitted && form.get('category').hasError('required')">
            A kategória kiválasztása kötelező
          </div>
        </div>

      </div>

      <app-img [uploadedImages]="uploadedImages"
               [imagesString]="item.images"
               [oldCoverImg]="oldCoverImg"
               [whereTo]="'items'"
               [id]="item.id"
               (alert)="setAlert($event)"
               (formValue)="filesChange($event.images)">

      </app-img>

      <alert type="success" dismissOnTimeout="3000"
             (onClosed)="ifNew()"
             *ngIf="success">
        <p class="mb-0">{{success}}</p>
      </alert>

      <alert type="danger" [dismissible]="true"
      (onClose)="clearError()"
             *ngIf="error">
        <p class="mb-0">{{error}}</p>
      </alert>

      <app-owner-buttons class="col-12 text-right mb-3"
                         [currentUser]="currentUser"
                         [submitted]="submitted"
                         [model]="item"
                         [isOnEdit]="true"
                         (delete)="onDelete($event.idFromButton)"
                         (save)="onSubmit()"
                         (toView)="onToView()">
      </app-owner-buttons>
    </form>

  </div>
</ng-container>
