<img class="card-img-top bg-mylight" [src]="cucc.picUrl"
     *ngIf="cucc.picUrl; else withoutPicUrl"
     alt="Card image cap">
<ng-template #withoutPicUrl>
  <img class="card-img-top bg-mylight"
       [src]="dafaultPic"
       alt="Card image cap">
</ng-template>
<div class="card-body">
  <h5 class="card-title">{{cucc.title}}</h5>
  <h3 class="card-title">{{cucc.price | number | pointReplacer}} Ft</h3>
  <p class="card-text">{{cucc.shortDescription}}</p>
  <p><small>Közzétéve: {{cucc.dateOfPublish | amFromUnix |
    amDateFormat: 'LL'}}</small></p>
  <a [routerLink]="['./view', cucc.id]"
     class="btn btn-lg btn-primary mt-1">
    Részletek</a>
    <a *ngIf="currentUserId && cucc.creatorId === currentUserId"
       [routerLink]="['./', cucc.id]"
       class="btn btn-lg btn-success mt-1"
       title="Módosít..."><i class="icon-pencil"></i></a>
</div>
