<ng-container
     *ngIf="currentUser && (!model.creatorId || model.creatorId === currentUser.id)">
  <alert type="danger" *ngIf="showAlert">
         <!--class="mt-3 mb-2"-->
    <div class="alert-content-block">
      <p class="mb-0"><strong>Biztosan törlöd?</strong>
      Gondold át mégegyszer...</p>
    </div>
    <div class="alert-content-block">
      <button type="button"
              class="btn btn-danger"
              (click)="onDelete(model.id)">
        <i class="icon-trash"></i> Törlöm!
      </button>
      <button type="button"
              class="btn btn-success"
              (click)="showAlert = false">
        <i class="icon-lightbulb"></i> Inkább mégis maradjon...
      </button>
    </div>
  </alert>
  <div class="mt-1"
       *ngIf="!showAlert">
    <button *ngIf="!isOnEdit"
            class="btn btn-small btn-success"
            title="Módosít..."
            (click)="onEdit(model.id)">
      <i class="icon-pencil"></i> Módosítás
    </button>
    <button type="button"
            *ngIf="isOnEdit"
            (click)="onSave()"
            [disabled]="submitted"
            class="btn btn-primary">
      <i class="icon-database"></i> Mentés
    </button>
    <button type="button"
            class="btn btn-small btn-danger" *ngIf="model.id"
            (click)="showAlert = true"
            title="Hirdetés törlése...">
      <i class="icon-trash"></i> Törlés
    </button>
  </div>
</ng-container>
