<app-filter-and-new-bar [categories]="itemCategories"
                        [title]="title"
                        [newButton]="newButton"
                        (searchField)="assignText($event.text)"
                        (choosenCategory)="chooseCategory($event.category)"
></app-filter-and-new-bar>

<ng-container
  *ngIf="(itemsGrouppedBy2$ | async)?.length; else loading">
  <div class="container">
    <div class="row"
         *ngFor="let itg of itemsGrouppedBy2$ | async">
      <div class="col-lg-6 card-deck-container" *ngFor="let it of itg">
        <div class="card-deck card-deck-item-list">
          <app-item-card class="card card-max-width"
                         *ngFor="let i of it"
                         [cucc]="i"
                         [currentUserId]="currentUserId"
                         [categories]="itemCategories">
          </app-item-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
