<div class="col-12">
  <p>Feltöltendő képek:</p>
</div>

<div class="imgSetToUpload col-12"
     *ngIf="images.length > 0">
  <ng-container *ngFor="let singleImage of images">
    <div class="imgContainer loaderContainer mb-1" *ngIf="singleImage === 1; else imageReady">
      <app-loading-spinner [loaderWidth]="30" [loaderHeight]="30"
                           [border]="1" [margin]="0"></app-loading-spinner>
    </div>
    <ng-template #imageReady>
      <div class="imgContainer mb-1" >
        <img [src]="singleImage"
             (click)="markFile(singleImage)"
             [ngClass]="{'imgChecked': marked && !coverFromSaved && singleImage === marked[0]}">
      </div>
    </ng-template>
  </ng-container>
  <br />
</div>

<input type="file"
       class="form-control hidden"
       id="images"
       name="images[]"
       (change)="onFileChange($event)"
       multiple
       #fileInput>


<div class="form-group col-12 mt-2">
  <button type="button" class="btn btn-success btn-block" (click)="addFilesFired()">
    <i class="icon-photo"></i> Válassz ki képeket...</button>
  <small class="form-text text-muted">
    A kijelölt kép lesz a borítókép, melyet 5:3
    arányúra vágunk.
  </small>
</div>




