<img class="card-img-top bg-mylight" [src]="tura.picUrl"
     alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">{{tura.title}}</h5>
  <p class="mb-0">{{tura.country}}</p>
  <p class="card-text">{{tura.region}}</p>
  <h5 class="card-title">{{tura.days}} nap</h5>
  <p class="mb-1">Túra indul:</p>
  <h6 class="card-title mb-3">{{tura.date | amFromUnix | amDateFormat:
    'LL'}} ({{tura.date | amFromUnix | amTimeAgo}})</h6>
  <h6 class="card-title mb-3">Feltöltötte: valaki</h6>
  <!--<h6 class="card-title mb-3">Feltöltötte: {{tura.creator.nick}}</h6>-->
  <!--<p class="mb-0">Jelentkeztek:</p>-->
  <!--<p class="mb-1" *ngFor="let guest of tura.guests">{{guest.nick}}</p>-->
  <a [routerLink]="['./view', tura.id]" class="btn btn-lg btn-primary">Részletek
  </a>
  <a *ngIf="currentUserId && tura.creatorId === currentUserId"
     [routerLink]="['./', tura.id]"
     class="btn btn-lg btn-success"
     title="Módosít..."><i class="icon-pencil"></i></a>
</div>
