<img class="card-img-top bg-mylight" [src]="tura.picUrl"
     *ngIf="tura.picUrl; else withoutPicUrl"
     alt="Card image cap">
<ng-template #withoutPicUrl>
  <img class="card-img-top bg-mylight"
             [src]="dafaultPic"
     alt="Card image cap">
</ng-template>
<div class="card-body">
  <h5 class="card-title">{{tura.title}}</h5>
  <p class="mb-1">{{tura.country}}</p>
  <h5 class="card-title">{{tura.days}} nap</h5>
  <p class="mb-0">Indulás: {{tura.date | amFromUnix | amDateFormat:
    'LL'}}</p>
  <p><small> ({{tura.date | amFromUnix |
    amTimeAgo}})</small></p>

  <button class="btn btn-lg btn-primary mb-1"
          (click)="onViewClick()"
          [routerLink]="['../turak/view', tura.id]">
    Részletek
  </button>
  <a *ngIf="currentUserId && tura.creatorId === currentUserId"
     [routerLink]="['../turak/', tura.id]"
     class="btn btn-lg btn-success mb-1"
     title="Módosít..."><i class="icon-pencil"
  ></i></a>

</div>

<div class="card-footer">
  <div class="row">
    <small class="text-muted col-3 pr-1 pl-1" title="Ennyi megtekintés"><i
      class="icon-eye"></i>{{tura.seen}}</small>
    <small class="text-muted col-3 pr-1 pl-1"
           title="Ennyi fénykép a részletes leírásban"><i
      class="icon-camera"></i>{{tura.images ? tura.images.split(',')
      .length : 0}}</small>
    <small class="text-muted col-6 pr-1 pl-1" title="A túra feltöltője"><i
      class="icon-user"></i>
      {{tura.creator.nick}}
    </small>
  </div>
</div>
