<img class="card-img-top bg-mylight" [src]="tura.picUrl"
     alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">{{tura.title}}</h5>
  <p class="mb-1">{{tura.country}}</p>
  <h5 class="card-title">{{tura.days}} nap</h5>
  <p class="mb-0">Indulás: {{tura.date | amFromUnix | amDateFormat:
    'LL'}}</p>
  <p class="mb-0"><small> ({{tura.date | amFromUnix |
    amTimeAgo}})</small></p>


</div>
<div class="card-footer for-buttons">
  <button class="btn btn-lg btn-primary mb-1" (click)="onViewClick()"
          [routerLink]="['./view', tura.id]">

     Részletek
</button>
  <a *ngIf="currentUserId && tura.creatorId === currentUserId"
     [routerLink]="['./', tura.id]"
     class="btn btn-lg btn-success mb-1"
     title="Módosít..."><i class="icon-pencil"
                           ></i></a></div>

<div class="card-footer">
  <div class="row">
    <small class="text-muted col-4 pr-1 pl-1" title="Ennyi megtekintés"><i
      class="icon-eye"></i>{{tura.seen}}</small>
    <small class="text-muted col-3 pr-1 pl-1"
           title="Ennyi fénykép a részletes leírásban"><i
      class="icon-camera"></i>5</small>
    <small class="text-muted col-5 pr-1 pl-1" title="A túra feltöltője"><i
      class="icon-user"></i>
      {{tura.creator.nick}}
    </small>
  </div>
</div>
