<div class="modal-header bg-mylight">
  <ng-container *ngIf="!forgotten; else isForgotten">
    <h5 class="modal-title pl-3" *ngIf="modalTitle">{{modalTitle}}</h5>
  </ng-container>
  <ng-template #isForgotten>
    <h5 class="modal-title pl-3">Elfelejtett jelszó</h5>
  </ng-template>

  <button type="button" class="close" (click)="modalRef.hide()"
          aria-label="Close">
    <span aria-hidden="true"><i class="icon-exit"></i></span>
  </button>
</div>
<div class="modal-body" *ngIf="!forgotten">
  <div class="form-group col-12" *ngIf="text">
    <p>{{text}}</p>
  </div>

  <div class="form-group col-12" *ngIf="needEmail">
    <label for="loginEmail">Email:</label>
    <input type="email"
           class="form-control"
           id="loginEmail"
           aria-describedby="emailHelp"
           placeholder="Email címed..."
           #email>
  </div>

  <div class="form-group col-12">
    <label for="loginPassword">Jelszó</label>
    <input type="password"
           class="form-control"
           id="loginPassword"
           placeholder="Jelszavad..."
           #password>
  </div>
  <div class="form-check col-12" *ngIf="needRememberMe">
    <input type="checkbox"
           class="form-check-input ml-0"
           id="loginRemember"
           checked="checked"
           #rememberMe>
    <label class="form-check-label"
           for="loginRemember">
      Maradjak bejelentkezve
    </label>
  </div>

  <div class="form-group col-12">
    <button class="btn-text-like"
            (click)="forgottenPassword()">
      <small class="font-italic">
        Ha elfelejtetted a jelszavadat, kattints ide!
      </small>
    </button>
  </div>

  <div class="form-group col-12 mt-3 text-right">
    <button type="button"
            [disabled]="disabled"
            (click)="onClick(password.value)"
            class="btn btn-primary mt-1">
      <i class="icon-paper-plane"></i> {{closeBtnName}}
    </button>
    <button type="button" class="btn btn-secondary mt-1"
            (click)="modalRef.hide()">
      <i class="icon-exit"></i> Mégse
    </button>
  </div>

  <div class="form-group col-12" *ngIf="error">
    <alert type="danger" [dismissible]="true" (onClose)="clearError()"
           *ngIf="error">
      <p class="mb-0">{{error}}</p>
    </alert>
  </div>

</div>

<div class="modal-body" *ngIf="forgotten">
  <div class="form-group col-12">
    <label for="emailForForgotten">E-mail címed, amellyel nálunk regisztráltál:</label>
    <input type="email"
           class="form-control"
           id="emailForForgotten"
           aria-describedby="emailForgotten"
           placeholder="Email címed..."
           #emailForgotten>
  </div>

  <div class="form-group col-12 mt-3 text-right">
    <button type="button"
            [disabled]="forgottenDisabled"
            (click)="onForgotten(emailForgotten.value)"
            class="btn btn-primary mt-1">
      <i class="icon-paper-plane"></i> Mehet
    </button>
    <button type="button"
            (click)="forgotten = !forgotten"
            class="btn btn-primary  mt-1">
      <i class="icon-left-open-big"></i> Belépéshez
    </button>
    <button type="button" class="btn btn-secondary mt-1"
            (click)="modalRef.hide()">
      <i class="icon-exit"></i> Mégse
    </button>
  </div>

  <div class="form-group col-12 mt-3" *ngIf="forgottenError || forgottenSuccess">
    <alert type="danger" [dismissible]="true" (onClose)="forgottenError = null"
           *ngIf="forgottenError">
      <p class="mb-0">{{forgottenError}}</p>
    </alert>
    <alert type="success" [dismissOnTimeout]="3000" (onClosed)="modalRef.hide()"
           *ngIf="forgottenSuccess">
      <p class="mb-0">Az új jelszó megadásához szükséges linket elküldtük e-mail címedre.</p>
    </alert>
  </div>

</div>
