<app-filter-and-new-bar [categories]="eventCategories"
                        [title]="title"
                        [newButton]="newButton"
                        (searchField)="assignText($event.text)"
                        (choosenCategory)="chooseCategory($event.category)"
></app-filter-and-new-bar>

<ng-container
  *ngIf="(eventsGrouppedBy2$ | async)?.length && ((true) || (isLoggedIn$ | async) === false); else loading">
  <div class="container">
    <div class="row"
         *ngFor="let evg of eventsGrouppedBy2$ | async">
      <div class="col-lg-6 card-deck-container" *ngFor="let ev of evg">
        <div class="card-deck card-deck-item-list">
          <app-event-card class="card"
                          *ngFor="let e of ev"
                          [tura]="e"
                          [currentUserId]="currentUserId"></app-event-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>


