<div class="imgSetToUpload col-12 mb-3"
     *ngIf="uploadedImages">
  <ng-container
    *ngFor="let uploadedImg of uploadedImages">
    <div class="imgContainer mb-1">
      <img [src]="uploadedImg"
           (click)="markAsCover(uploadedImg)"
           [ngClass]="{'imgChecked': marked && coverFromSaved && uploadedImg === marked}">
      <button type="button"
              class="btn btn-small btn-outline-danger delete"
              (click)="onDeleteImage(uploadedImg)">
        <i class="icon-trash"></i>
      </button>
    </div>
  </ng-container>
</div>
