:host {
  display: list-item;
  width: 100%;
  padding: .4em;
  border-bottom: 1px solid #cccccc;
  cursor: pointer !important;
}

:host:last-child {
  border-bottom: none;
}

:host(.focused) {
  background-color: rgba(150, 222, 42, 1);;
  color: white;
}

.user-image {
  width: 28px;
  height: 28px;
}

strong {
  margin-left: 50px;
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
}
