<app-navbar
  class="navbar navbar-expand-lg navbar-light bg-mylight"></app-navbar>

<div class="container title-and-search">
  <h1 class="display-4">Profil</h1>
</div>

<div class="container" *ngIf="user$ | async as user; else loading">

  <div class="profile-header bg-mylight mb-3">
    <div class="profile-avatar">
      <ng-container *ngIf="user.picUrl; else defaultPic">
        <img src="{{user.picUrl}}"
             title="avatar"
             alt="avatar">
      </ng-container>
      <ng-template #defaultPic>
        <img src="../assets/vector/user.svg"
             title="avatar"
             alt="avatar">
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <alert type="danger" *ngIf="!user.emailVerified && alert"
             [dismissible]="true">
        <br/>
        <p>Email címed még nem ellenőrizött, így a szolgáltatásokat csak korlátozottan tudod
          használni. Nem tölthetsz fel új túrát, cuccot, és emailt sem küldhetsz. Az ellenőrzés csak
          pár perc! Kérj az alábbi gombbal ellenőrző linket, majd az
          email címedre küldött levélben kattints rá.</p>
        <div class="text-right">
          <button type="button"
                  (click)="verifyEmail()"
                  [disabled]="disabled"
                  class="btn btn-primary">
            <i class="icon-paper-plane"></i> Kérem a linket!
          </button>
        </div>
      </alert>
      <alert type="info" *ngIf="info"
             [dismissOnTimeout]="3000" (onClosed)="info=false">
        <p>Az ellenőrző linket sikeresen kiküldtük email címedre.</p>
      </alert>
      <alert type="danger" *ngIf="error"
             [dismissible]="true" (onClosed)="error=false">
        <p>A link kiküldése sikertelen volt. Kérjük, próbáld újra!</p>
      </alert>
    </div>
    <div class="col-md-2 col-lg-3"></div>
    <div class="col-md-8 col-lg-6 border pt-4">

      <div class="row">
        <div class="col-sm-4">
          <h5>Felhasználónév:</h5>
        </div>
        <div class="col-sm-8">
          <p>{{user.nick}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h5>E-mail cím:</h5>
        </div>
        <div class="col-sm-8">
          <p [ngClass]="{'text-danger': !user.emailVerified, 'text-success': user.emailVerified}">
            {{user.email}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h5>Születési idő:</h5>
        </div>
        <div class="col-sm-8">
          <p>{{user.dateOfBirth ? (user.dateOfBirth | amFromUnix |
            amDateFormat: 'LL') : 'Nincs kitöltve'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h5>Telefonszám:</h5>
        </div>
        <div class="col-sm-8">
          <p>{{user.tel ? user.tel : 'Nincs kitöltve'}}</p>
        </div>
      </div>

      <div class="form-group row text-right">
        <div class="col-sm-12">
          <button type="submit"
                  class="btn btn-primary" routerLink="/user/edit">
            <i class="icon-pencil"></i> Módosítás
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-lg-3"></div>

  </div>

  <div id="accordion1" class="acc-content mt-3">
    <div class="card">
      <div class="card-header bg-mylight"
           id="heading1"
           data-toggle="collapse"
           data-target="#collapse1"
           aria-expanded="true"
           aria-controls="collapse1"
           (click)="isCollapsed1 = !isCollapsed1">
        <h4>
          Túrák, amikre jelentkeztem
        </h4>
      </div>

      <div id="collapse1"
           class="collapse coll"
           #el1
           aria-labelledby="heading1"
           data-parent="#accordion"
           [collapse]="isCollapsed1"
           (collapsed)="setHeight(el1, 0)"
           (expanded)="setHeight(el1, 0); setHeight(el1, el1.scrollHeight)">
        <div class="card-body">
          <ng-container
            *ngIf="(joinedEventsGrouppedBy2$ | async)?.length && ((true) || (isLoggedIn$ | async) === false); else loading">
            <div class="row"
                 *ngFor="let evg of joinedEventsGrouppedBy2$ | async">
              <div class="col-lg-6 card-deck-container" *ngFor="let ev of evg">
                <div class="card-deck card-deck-item-list">
                  <ng-container *ngIf="eventCategories">
                    <app-event-card
                      class="card card-max-width"
                      *ngFor="let e of ev"
                      [tura]="e"
                      [currentUserId]="currentUserId"
                      (addSeen)="addSeen($event.id)"
                      [categories]="eventCategories">
                    </app-event-card>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div id="accordion2" class="acc-content mt-3">
    <div class="card">
      <div class="card-header bg-mylight"
           id="heading2"
           data-toggle="collapse"
           data-target="#collapse2"
           aria-expanded="true"
           aria-controls="collapse2"
           (click)="isCollapsed2 = !isCollapsed2">
        <h4>
          Túrák, amiket meghirdettem
        </h4>
      </div>

      <div id="collapse2"
           class="collapse coll"
           #el2
           aria-labelledby="heading2"
           data-parent="#accordion2"
           [collapse]="isCollapsed2"
           (collapsed)="setHeight(el2, 0)"
           (expanded)="setHeight(el2, 0); setHeight(el2, el2.scrollHeight)">
        <div class="card-body">
          <ng-container
            *ngIf="(myEventsGrouppedBy2$ | async)?.length && ((true) || (isLoggedIn$ | async) === false); else loading">
            <div class="">
              <div class="row"
                   *ngFor="let evg of myEventsGrouppedBy2$ | async">
                <div class="col-lg-6 card-deck-container" *ngFor="let ev of evg">
                  <div class="card-deck card-deck-item-list">
                    <ng-container *ngIf="eventCategories">
                      <app-event-card class="card card-max-width"
                                      *ngFor="let e of ev"
                                      [tura]="e"
                                      [currentUserId]="currentUserId"
                                      (addSeen)="addSeen($event.id)"
                                      [categories]="eventCategories">
                      </app-event-card>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div id="accordion3" class="acc-content mt-3">
    <div class="card">
      <div class="card-header bg-mylight"
           id="heading3"
           data-toggle="collapse"
           data-target="#collapse3"
           aria-expanded="true"
           aria-controls="collapse3"
           (click)="isCollapsed3 = !isCollapsed3">
        <h4>
          Cuccok, amiket meghirdettem
        </h4>
      </div>

      <div id="collapse3"
           class="collapse coll"
           #el3
           aria-labelledby="heading3"
           data-parent="#accordion3"
           [collapse]="isCollapsed3"
           (collapsed)="setHeight(el3, 0)"
           (expanded)="setHeight(el3, 0); setHeight(el3, el3.scrollHeight)">
        <div class="card-body">
          <ng-container
            *ngIf="(myItemsGrouppedBy2$ | async)?.length && ((true) || (isLoggedIn$ | async) === false); else loading">
            <div class="">
              <div class="row"
                   *ngFor="let itg of myItemsGrouppedBy2$ | async">
                <div class="col-lg-6 card-deck-container"
                     *ngFor="let it of itg">
                  <div class="card-deck card-deck-item-list">
                    <ng-container *ngIf="itemCategories">
                      <app-item-card
                        class="card card-max-width"
                        *ngFor="let i of it"
                        [cucc]="i"
                        [currentUserId]="currentUserId"
                        [categories]="itemCategories">
                      </app-item-card>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div id="accordion4" class="acc-content mt-3">
    <div class="card">
      <div class="card-header bg-mylight"
           id="heading4"
           data-toggle="collapse"
           data-target="#collapse4"
           aria-expanded="true"
           aria-controls="collapse4"
           (click)="isCollapsed4 = !isCollapsed4">
        <h4>
          Túrakategóriák, melyekről értesítést kérek
        </h4>
      </div>

      <div id="collapse4"
           class="collapse coll"
           #el4
           aria-labelledby="heading4"
           data-parent="#accordion4"
           [collapse]="isCollapsed4"
           (collapsed)="setHeight(el4, 0)"
           (expanded)="setHeight(el4, 0); setHeight(el4, el4.scrollHeight)">
        <div class="card-body">
          <ng-container
            *ngIf="eventCategories">
            <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-2"
                   *ngFor="let category of eventCategories">
                <div class="card categories text-center"
                     (click)="category.checked = !category.checked;
                              onCategoryClick('Events', category.category, category.checked)"
                     [ngClass]="{'category-checked': category.checked}">
                  <img class="card-img-top" [src]="category.picUrl"
                       alt="Card image cap">
                  <div class="card-body">
                    <p>{{category.category}}</p>
                  </div>
                </div>
              </div>

            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div id="accordion5" class="acc-content mt-3">
    <div class="card">
      <div class="card-header bg-mylight"
           id="heading5"
           data-toggle="collapse"
           data-target="#collapse5"
           aria-expanded="true"
           aria-controls="collapse5"
           (click)="isCollapsed5 = !isCollapsed5">
        <h4>
          Cucc-kategóriák, melyekről értesítést kérek
        </h4>
      </div>

      <div id="collapse5"
           class="collapse coll"
           #el5
           aria-labelledby="heading5"
           data-parent="#accordion5"
           [collapse]="isCollapsed5"
           (collapsed)="setHeight(el5, 0)"
           (expanded)="setHeight(el5, 0); setHeight(el5, el5.scrollHeight)">
        <div class="card-body">
          <ng-container
            *ngIf="itemCategories">
            <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-2"
                   *ngFor="let category of itemCategories">
                <div class="card categories text-center"
                     (click)="category.checked = !category.checked;
                              onCategoryClick('Items', category.category, category.checked)"
                     [ngClass]="{'category-checked': category.checked}">
                  <img class="card-img-top" [src]="category.picUrl"
                       alt="Card image cap">
                  <div class="card-body">
                    <p>{{category.category}}</p>
                  </div>
                </div>
              </div>

            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

