<div class="modal-header bg-mylight">
  <h5 class="modal-title pl-3">Jelszó módosítás</h5>
  <button type="button" class="close" (click)="modalRef.hide()"
          aria-label="Close">
    <span aria-hidden="true"><i class="icon-exit"></i></span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="form">
    <div class="form-group col-12">
      <label for="password">Új jelszó</label>
      <input type="password"
             class="form-control"
             id="password"
             placeholder="6-15 kisbetű, nagybetű vagy szám..."
             formControlName="password"
             [ngClass]="{'is-invalid': submitted && form.get('password').invalid}"
             #password>
      <div class="invalid-feedback"
           *ngIf="form.get('password').hasError('required')">
        Az "Új jelszó" kitöltése kötelező
      </div>
      <div class="invalid-feedback"
           *ngIf="form.get('password').hasError('minlength') || form.get('password').hasError('maxlength')">
        A "Jelszó" mező minimális hossza 6, maximális hossza 15 karakter.
      </div>
      <div class="invalid-feedback"
           *ngIf="form.get('password').hasError('pattern')">
        A "Jelszó" csak kis- és nagybetűket, valamint számokat tartalmazhat.
      </div>
    </div>
    <div class="form-group col-12">
      <label for="passwordAgain">Új jelszó újra</label>
      <input type="password"
             class="form-control"
             formControlName="passwordAgain"
             id="passwordAgain"
             placeholder="Mint az előbb..."
             [ngClass]="{'is-invalid': submitted && form.get('passwordAgain').invalid}"
             #passwordAgain>
      <div class="invalid-feedback"
           *ngIf="form.get('passwordAgain').hasError('required')">
        Az "Új jelszó újra" kitöltése kötelező
      </div>
      <div class="invalid-feedback"
           *ngIf="form.get('passwordAgain').hasError('minlength') || form.get('passwordAgain').hasError('maxlength')">
        A "Jelszó újra" mező minimális hossza 6, maximális hossza 15 karakter.
      </div>
      <div class="invalid-feedback"
           *ngIf="form.get('passwordAgain').hasError('pattern')">
        A "Jelszó" csak kis- és nagybetűket, valamint számokat tartalmazhat.
      </div>
      <div class="invalid-feedback"
           *ngIf="form.get('passwordAgain').hasError('validatePasswordMatch')">
        A két jelszó nem egyezik.
      </div>
    </div>
    <div class="form-group col-12">
      <label for="oldPassword">Jelenlegi jelszó</label>
      <input type="password"
             class="form-control"
             id="oldPassword"
             formControlName="oldPassword"
             [ngClass]="{'is-invalid': submitted && form.get('oldPassword').invalid}"
             placeholder="Jelszavad most..."
             #oldPassword>
      <div class="invalid-feedback"
           *ngIf="form.get('oldPassword').hasError('required')">
        A "Jelszó" kitöltése kötelező
      </div>
    </div>

    <div class="form-group col-12 mt-3 text-right">
      <button type="button"
              [disabled]="submitted"
              (click)="onClick(password.value)"
              class="btn btn-primary">
        <i class="icon-paper-plane"></i> Mehet
      </button>
      <button type="button" class="btn btn-secondary"
              (click)="modalRef.hide()">
        <i class="icon-exit"></i> Mégse</button>
    </div>
  </form>

  <div class="form-group col-12">
    <alert type="danger" [dismissible]="true" (onClose)="clearError()"
           *ngIf="error">
      <p class="mb-0">{{error}}</p>
    </alert>
    <alert type="success" [dismissOnTimeout]="3000" (onClosed)="modalRef.hide()"
           *ngIf="success">
      <p class="mb-0">{{success}}</p>
    </alert>
  </div>
</div>



