<div class="container">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button"
          (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [collapse]="isCollapsed" class="collapse navbar-collapse"
       id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/kezdolap" routerLinkActive="active">Kezdőlap
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <div class="btn-group">
          <a class="nav-link" routerLink="/cuccok"
             routerLinkActive="active">Cuccok</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="btn-group">
          <a class="nav-link" routerLink="/turak" routerLinkActive="active">Túrák</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tobbiek" routerLinkActive="active">Többiek</a>
      </li>
      <ng-container
        *ngIf="!(userService.isLoggedIn$ | async); else loggedInBlock">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="showLoginModal($event)"
             routerLinkActive="active">Belépés</a>
        </li>
        <li class="nav-item">
          <a routerLink="/user/registration" routerLinkActive="active"
             class="btn ml-lg-2 nav-button btn-success">Regisztráció</a>
        </li>
      </ng-container>
      <ng-template #loggedInBlock>
        <li class="nav-item">
          <a class="nav-link" href="#"
             routerLinkActive="active" (click)="logout($event)">Kilépés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="showChatList($event)"
             routerLinkActive="active">Üzenetek</a>
        </li>
        <li class="nav-item">
          <a routerLink="/user" routerLinkActive="active"
             class="btn ml-lg-2 nav-button btn-success">Profil</a>
        </li>
      </ng-template>

    </ul>
  </div>
</div>
