<app-navbar class="navbar navbar-expand-lg navbar-light bg-mylight"></app-navbar>

<div class="container title-and-search">
  <h1 class="display-4">Profil módosítása</h1>
</div>

<div class="container">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-sm-6 left">

        <label for="nick">Felhasználónév:</label>
        <input type="text"
               class="form-control"
               id="nick"
               formControlName="nick"
               placeholder="Ezen a néven látnak majd a többiek..."
               [ngClass]="{'is-invalid': disabled && form.get('nick').invalid}">
        <div class="invalid-feedback"
             *ngIf="form.get('nick').hasError('required')">
          A felhasználónév kitöltése kötelező
        </div>
        <div class="invalid-feedback"
             *ngIf="form.get('nick').hasError('maxLength')">
          A felhasználónév maximális hossza 15 karakter
        </div>

        <label for="email">Email:</label>
        <input type="email"
               class="form-control"
               id="email"
               formControlName="email"
               placeholder="Email..."
               [ngClass]="{'is-invalid': disabled && form.get('email').invalid}">
        <div class="invalid-feedback"
             *ngIf="form.get('email').hasError('required')">
          Kérjük, add meg az email címedet
        </div>
        <div class="invalid-feedback"
             *ngIf="form.get('email').hasError('email')">
          Kérjük, valódi email címet ajd meg
        </div>
        <small class="form-text text-muted">Kérjük, hogy valós email címet adj meg, erre küldjük a
          megerősítő linket, az értesítéseket (ha kéred), és a tagok neked szóló üzeneteit. Email
          címed a tagok számára sem lesz publikus.
        </small>

        <label for="dateOfBirth">Születési dátum:</label>
        <input type="date"
               class="form-control"
               id="dateOfBirth"
               formControlName="dateOfBirth">
        <small class="form-text text-muted">Adatlapodon megjelenítjük. Az adatlap csak a tagok
          számára látható.
        </small>

        <label for="tel">Telefonszám:</label>
        <input type="text"
               class="form-control"
               id="tel"
               formControlName="tel"
               placeholder="Telefonszámod...">
        <small class="form-text text-muted">Adatlapodon, valamint hirdetés feladása
          esetén a termék oldalán megjelenítjük.
        </small>

      </div>

      <div class="form-group col-sm-6 right">
        <label for="avatar">Profilkép feltöltése:</label>
        <input type="file"
               class="form-control hidden"
               id="avatar"
               (change)="onFileChange($event)"
               #fileInput>
          <button type="button" class="btn btn-success btn-block" (click)="chooseImageFired()">
            <i class="icon-photo"></i> Válaszd ki a képet...</button>

        <small class="form-text text-muted">
          A feltöltött képet négyzet alakúra vágjuk.
        </small>
        <br />

        <div class="avatar-box" *ngIf="avatar; else profilePic">
          <p>Feltöltendő kép</p>
          <div class="imgToUpload">

            <img [src]="avatar">
            <button type="button"
                    class="btn btn-small btn-danger deleteProfileImage mb-0"
                    (click)="clearFile()">
              <i class="icon-trash"></i>
            </button>

          </div>
        </div>
      </div>
      <ng-template #profilePic>
          <div class="avatar-box">
            <p>Jelenlegi profilkép</p>
            <div class="imgToUpload"
                 *ngIf="currentUser?.picUrl">
              <img [src]="currentUser.picUrl" class="currentImage">
              <button type="button"
                      class="btn btn-small btn-danger deleteProfileImage mb-0"
                      (click)="clearPicUrl()">
                <i class="icon-trash"></i>
              </button>
            </div>

        </div>

      </ng-template>
    </div>

    <alert type="danger" [dismissible]="true" (onClose)="clearError()"
           *ngIf="error">
      <p>{{error}}</p>
    </alert>

    <div class="form-group text-right mt-3 mb-0">
      <button class="btn btn-primary"
              type="submit"
              [disabled]="disabled">
        <i class="icon-database"></i> Adatok
        mentése
      </button>
      <button class="btn btn-primary"
              type="button"
              (click)="changePassword()">
        <i class="icon-lock"></i> Jelszó módosítása
      </button>
    </div>
    <div class="form-group text-right">
      <button class="btn btn-outline-danger"
              type="button"
              (click)="openModal(deleteProfileTemplate)">
        <i class="icon-trash"></i> Profil törlése
      </button>
    </div>
  </form>
</div>

<ng-template #deleteProfileTemplate>
  <div class="modal-header bg-mylight">
    <h5 class="modal-title pl-3">Profil törlése</h5>

    <button type="button" class="close" (click)="modalRefDelete.hide()"
            aria-label="Close">
      <span aria-hidden="true"><i class="icon-exit"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group col-12">
      <p>Jól meggondoltad?</p>
      <p class="text-danger">Ha törlöd profilodat, az összes általad meghirdetett cucc és túra
        is az enyészeté lesz. Nem tudunk majd értesíteni, ha számodra érdekes termékek vagy
        programok kerülnek fel az oldalra, és hírlevelet sem tudunk küldeni.</p>
    </div>

    <div class="form-group col-12 mt-3 text-right">
      <button type="button"
              [disabled]="disabled"
              (click)="deleteProfile()"
              class="btn btn-danger mt-1">
        <i class="icon-trash"></i> Törlöm
      </button>
      <button type="button" class="btn btn-secondary mt-1"
              (click)="modalRefDelete.hide()">
        <i class="icon-exit"></i> Mégse
      </button>
    </div>

    <div class="form-group col-12" *ngIf="errorDel || successDel">
      <alert type="danger" [dismissible]="true" (onClose)="clearError()"
             *ngIf="errorDel">
        <p class="mb-0">{{errorDel}}</p>
      </alert>
      <alert type="success" [dismissOnTimeout]="3000" (onClosed)="modalRefDelete.hide()"
             *ngIf="successDel">
        <p class="mb-0">{{successDel}}</p>
      </alert>
    </div>

  </div>

</ng-template>
