<app-navbar class="navbar navbar-expand-lg navbar-light bg-mylight"></app-navbar>

<div class="container title-and-search">
  <h1 class="display-4">Profil módosítása</h1>
</div>

<div class="container">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="nick">Felhasználónév:</label>
        <input type="text"
               class="form-control"
               id="nick"
               formControlName="nick"
               placeholder="Ezen a néven látnak majd a többiek..."
               [ngClass]="{'is-invalid': submitted && form.get('nick').invalid}">
        <div class="invalid-feedback"
             *ngIf="form.get('nick').hasError('required')">
          A felhasználónév kitöltése kötelező
        </div>
        <div class="invalid-feedback"
             *ngIf="form.get('nick').hasError('maxLength')">
          A felhasználónév maximális hossza 15 karakter
        </div>
      </div>
      <div class="form-group col-md-4">
      <label for="email">Email:</label>
      <input type="email"
             class="form-control"
             id="email"
             formControlName="email"
             placeholder="Email..."
             [ngClass]="{'is-invalid': submitted && form.get('email').invalid}">
      <div class="invalid-feedback"
           *ngIf="form.get('email').hasError('required')">
        Kérjük, add meg az email címedet
      </div>
      <div class="invalid-feedback"
           *ngIf="form.get('email').hasError('email')">
        Kérjük, valódi email címet ajd meg
      </div>
      <small class="form-text text-muted">Kérjük, hogy valós email címet adj meg, erre küldjük a megerősítő linket, az értesítéseket (ha kéred), és a tagok neked szóló üzeneteit. Email címed a tagok számára sem lesz publikus.</small>
    </div>
      <div class="form-group col-md-4">
        <label for="dateOfBirth">Születési dátum:</label>
        <input type="date"
               class="form-control"
               id="dateOfBirth"
               formControlName="dateOfBirth">
        <small class="form-text text-muted">Ha kitöltöd, adatlapodon
          megjelenítjük életkorodat (az adatlap csak a tagok számára látható).</small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="tel">Telefonszám:</label>
        <input type="text"
               class="form-control"
               id="tel"
               formControlName="tel"
               placeholder="Telefonszámod...">
        <small class="form-text text-muted">Ha kitöltöd, adatlapodon, valamint hirdetés feladása esetén a termék oldalán kattintás után láthatóvá tesszük. Ha nem adod meg, de hirdetést adsz fel, csak a tagok fognak tudni veled kapcsolatba lépni, ezért javasoljuk, hogy hirdetés-feladás esetén mindenképpen töltsd ki!</small>
      </div>
      <div class="form-group col-12 col-sm-6 col-md-4">
        <label for="avatar">Profilkép:</label>
        <input type="file"
               class="form-control"
               id="avatar"
               (change)="onFileChange($event)"
               #fileInput>
        <small class="form-text text-muted">
          Itt töltheted fel, vagy cserélheted profilképedet. (A feltöltött
          képet négyzet alakúra vágjuk.)
        </small>
      </div>
      <div class="imgToUpload col-12 col-sm-6 col-md-4"
           *ngIf="avatar; else profilePic">
        <img [src]="avatar">
        <button type="button"
                class="btn btn-small btn-outline-danger delete"
                (click)="clearFile()">
          <i class="icon-trash"></i>
        </button>

      </div>
      <ng-template #profilePic>

          <div class="imgToUpload col-12 col-sm-6 col-md-4"
               *ngIf="currentUser?.picUrl">
            <img [src]="currentUser.picUrl">
            <button type="button"
                    class="btn btn-small btn-outline-danger delete"
                    (click)="clearPicUrl()">
              <i class="icon-trash"></i>
            </button>

          </div>

      </ng-template>
    </div>
    <div class="form-group text-right mt-3">
      <button class="btn btn-primary" type="submit">
        <i class="icon-database"></i> Adatok
        mentése</button>
    </div>
  </form>
</div>

