<ng-container *ngIf="currentUser">
  <ng-container *ngIf="watchedUser$ | async as user; else loading">
    <div class="container title-and-search">
      <h1 class="display-4">{{user.nick}}</h1>
    </div>

    <div class="container">

      <div class="profile-header bg-mylight mb-3">
        <div class="profile-avatar">
          <ng-container *ngIf="user.picUrl; else defaultPic">
            <img src="{{user.picUrl}}"
                 title="avatar"
                 alt="avatar">
          </ng-container>
          <ng-template #defaultPic>
            <img src="../assets/vector/user.svg"
                 title="avatar"
                 alt="avatar">
          </ng-template>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8 border pt-4">
          <div class="row">
            <div class="col-sm-5">
              <h5>Születési idő:</h5>
            </div>
            <div class="col-sm-7">
              <p>{{user.dateOfBirth ? (user.dateOfBirth | amFromUnix |
                amDateFormat: 'LL') : 'Nincs kitöltve'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <h5>Telefonszám:</h5>
            </div>
            <div class="col-sm-7">
              <p>{{user.tel ? user.tel : 'Nincs kitöltve'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <h5>Kedvenc túrakategóriái:</h5>
            </div>
            <div class="col-sm-7">
              <p  class="mb-0"
                  *ngFor="let favEv of favEvents">{{favEvents ?
                favEv : 'Nincs kitöltve'}}</p>
            </div>
          </div>

          <div class="form-group row text-right mt-4">
            <div class="col-sm-12">
              <button class="btn-small btn btn-primary"
                      (click)="openChat()">
                <i class="icon-comment"></i> Üzenet
              </button>
              <button class="btn-small btn btn-primary"
                      (click)="emailClicked(emailModal)">
                <i class="icon-paper-plane"></i> E-mail
              </button>
            </div>
          </div>


        </div>


        <div class="col-md-1 col-lg-2"></div>

      </div>

      <app-collapsible *ngIf="watchedUserEventsGrouppedBy2$ && eventCategories"
                       (addSeen)="addSeen($event.id)"
                       [elements$]="watchedUserEventsGrouppedBy2$"
                       [currentUserId]="currentUser.id"
                       [categories]="eventCategories"
                       [elem]="'event'"
                       [idNum]="3"
                       [header]="'Hirdetett túrái'"
                       [message]="'Nincsenek túrák.'"
                       [num]="eventsNum"></app-collapsible>

      <app-collapsible *ngIf="watchedUserItemsGrouppedBy2$ && itemCategories"
                       [elements$]="watchedUserItemsGrouppedBy2$"
                       [currentUserId]="currentUser.id"
                       [categories]="itemCategories"
                       [elem]="'item'"
                       [idNum]="4"
                       [header]="'Hirdetett cuccai'"
                       [message]="'Nincsenek cuccok.'"
                       [num]="itemsNum"></app-collapsible>

    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<ng-template #emptyEvents>
  <p >Nincsenek túrák</p>
</ng-template>
<ng-template #emptyItems>
  <p>Nincsenek cuccok</p>
</ng-template>
<ng-template #emailModal>
  <app-email [emailModalTitle]="emailModalTitle"
             [currentEmail]="currentUser ? currentUser.email : ''"
             [recipientsId]="recipientsId"
             [subject]="'Levél a Túrázzunk!-ról'"
             (closeModal)="closeModal()">
  </app-email>
</ng-template>

