<ng-container *ngIf="event$ | async as event; else loading">
  <div class="container title-and-search">
    <h1 class="display-4">{{event.title}}</h1>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h3>{{event.category}}</h3>
        <hr/>
        <h4>Feltöltötte: {{event.creator.nick}}</h4>
        <h4>Tel: {{event.creator.tel}}</h4>
        <br/>
        <h5>Túra indul: {{event.date | amFromUnix | amDateFormat:
          'LL'}}</h5>
        <h5>({{event.date | amFromUnix | amTimeAgo}})</h5>
        <h5>Időtartam: {{event.days}} nap</h5>
        <p>
          <small>Közzétéve: {{event.dateOfPublish | amFromUnix | amDateFormat:
            'LL'}}
          </small>
        </p>
          <p *ngIf="currentUser && event.guestsIds">Eddig ők jelentkeztek a
            túrára: <span
              *ngFor="let guest of event.guests let isLast = last">{{guest.nick}}{{isLast ? '' : ', '}}
             </span></p>
          <p>
          <p *ngIf="!event.guestsIds">Még nincs jelentkező a
            túrára.</p>
          <p>
          <p *ngIf="!currentUser && event.guestsIds">Eddig
            {{event.guestsIds.length}} fő jelentkezett a
            túrára.</p>

        </div>

        <div class="col-md-8">
          <h3>Leírás:</h3>
          <hr/>
          <p>{{event.description}}</p>
        </div>

    </div>

    <div class="row">
      <div class="col-12">
        <alert type="success" *ngIf="joinSuccessAlert"
               dismissOnTimeout="3000">
          Jelentkezésedet rögzítettük!
        </alert>
        <alert type="danger" *ngIf="dangerAlert">
          Valami hiba törént... Próbáld újra!
        </alert>
        <alert type="success" *ngIf="deleteJoinSuccessAlert"
               dismissOnTimeout="3000">
          Jelentkezésedet töröltük!
        </alert>
      </div>

      <div class="col-12 text-right">
        <button *ngIf="currentUser && currentUser.id !== event.creatorId && !isGuest"
                class="btn btn-small btn-primary mb-1"
                (click)="onJoin(currentUser.id, event.id)"
                title="Jelentkezés a túrára"
                [disabled]="buttonDisabled">
          <i class="icon-star"></i> Jelentkezem a túrára
        </button>
        <button *ngIf="currentUser && currentUser.id !== event.creatorId && isGuest"
                class="btn btn-small btn-danger mb-1"
                (click)="onDeleteJoin(currentUser.id, event.id)"
                title="Jelentkezés törlése"
                [disabled]="buttonDisabled">
          <i class="icon-trash"></i> Törlöm a jelentkezésemet
        </button>
        <button *ngIf="currentUser"
                class="btn btn-small btn-primary mb-1"
                (click)="showChat = !showChat"
                title="Chat ablak kinyitása"
                [disabled]="showChat">
          <i class="icon-comment"></i> Chat
        </button>
        <button class="btn btn-small btn-primary mb-1"
                *ngIf="!currentUser || (currentUser && currentUser.id !== event.creatorId)"
                (click)="showEmailModalWindow('creator', emailModal)"
                title="Levél a hirdetőnek">
          <i class="icon-mail-1"></i> Levél a hirdetőnek
        </button>
        <button class="btn btn-small btn-primary mb-1"
                *ngIf="currentUser && currentUser.id === event.creatorId && guestsEmail.length > 0"
                (click)="showEmailModalWindow('guests', emailModal)"
                title="Levél a jelentkezőknek">
          <i class="icon-mail-1"></i> Levél a jelentkezőknek
          ({{guestsEmail.length}})
        </button>
      </div>

      <app-owner-buttons class="col-12 text-right mb-3"
                         [currentUser]="currentUser"
                         [isOnEdit]="false"
                         [model]="event"
                         (delete)="onDelete($event.idFromButton)"
                         (edit)="onEdit($event.idFromButton)">
      </app-owner-buttons>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="imagesPreviewContainer mt-2" *ngIf="event.images">
          <img *ngFor="let image of event.images.split(','); let i = index"
               src="{{root}}{{image}}"
               title="{{event.title}}"
               alt="{{event.title}}"
               (click)="clicked(i)"
               height="120">
        </div>
      </div>
    </div>
  </div>

  <app-swiper class="fixedSwiper"
              *ngIf="event.images && showImageSwiper"
              [images]="event.images"
              [swiperIndex]="swiperIndex"
              (hideImageSwiper)="showImageSwiper = false">
  </app-swiper>

  <app-chat-window *ngIf="currentUser && showChat" [roomId]="event.id"
                   (closeChatWindow)="closeChat()">
  </app-chat-window>

  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>

  <ng-template #emailModal>
    <app-email [emailModalTitle]="emailModalTitle"
               [currentEmail]="currentUser ? currentUser.email : ''"
               [recipientsEmail]="recipientsEmail"
               [subject]="event.title"
               (closeModal)="closeModal()">
    </app-email>
  </ng-template>

</ng-container>



