<app-filter-and-new-bar *ngIf="eventCategories"
                        [categories]="eventCategories"
                        [title]="'Többiek'"
                        [newButton]="newButton"
                        (searchField)="assignText($event.text)"
                        (choosenCategory)="chooseCategory($event.category)">
</app-filter-and-new-bar>

<div class="container" id="users" *ngIf="users$ | async as users; else loading">
  <div class="row category-collection">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let user of users">
      <div class="card users text-center">
        <div class="img-holder mb-3 mt-4">
          <img class="card-img-top user-card bg-mylight link"
               *ngIf="user.picUrl; else defaultPic"
               [src]="user.picUrl"
               (click)="profileClicked(user.id)"
               alt="Profilkép">
          <ng-template #defaultPic>
            <img class="card-img-top bg-mylight"
                 src="../assets/vector/user.svg"
                 alt="Profilkép placeholder">
          </ng-template>
        </div>
        <div class="card-body">
          <button class="btn-small btn btn-primary mb-1"
                  (click)="profileClicked(user.id)">
            {{user.nick}}
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
