<div class="container title-and-search">
  <h1 class="display-4">{{title}}</h1>
  <div class="row ">
    <div class="col-sm-3">
      <button class="btn btn-primary btn-block mt-2" type="button"
              (click)="categoryButtonClick()"
              data-toggle="collapse"
              data-target="#categories" aria-expanded="false"
              aria-controls="categories">{{categoryButtonLabel}}
      </button>
    </div>
    <div class="col-sm-6">
      <div class="input-group mt-2">
        <input type="text"
               class="form-control"
               placeholder="Keress itt..."
               aria-label="Kereső"
               aria-describedby="basic-addon2"
               #searchInput
               (keyup)="onKeyup($event)">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button">Keresés</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-success btn-block mt-2" type="button"
              (click)="newButtonClicked($event)">{{newButton}}
      </button>
    </div>
  </div>
</div>

<div [collapse]="isCollapsed"
     (collapsed)="setHeight(el, 0)"
     (expanded)="setHeight(el, 0); setHeight(el, el.scrollHeight)"
     class="container collapse coll" id="categories" #el>
  <div class="row category-collection">
    <div class="col-sm-6 col-md-3 col-lg-2"
         *ngFor="let category of categories">
      <div class="card categories text-center"
           (click)="onCategoryClick(category.category)"
           [ngClass]="{'category-checked': choosenCat === category.category}">
        <img class="card-img-top" [src]="category.picUrl"
             alt="Card image cap">
        <div class="card-body">
          <p>{{category.category}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
