<div class="img-bg">

  <app-navbar class="navbar navbar-expand-lg navbar-dark navbar-home"></app-navbar>

  <div class="jumbotron jumbotron-fluid my-jumbotron">
    <div class="container">
      <h1 class="display-4">Túrázzunk!</h1>
      <p class="lead">Sziklát, hegyet mászol? Sí-, vagy gyalogtúrázol? Keress, vagy adj el felszereléseket, találj hozzá partnereket, ossz meg te is programokat!</p>
      <p class="lead">A "Túrázzunk!" ingyenes, és az is marad!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card text-center">
      <img class="card-img-top card-img-home" src="../assets/vector/boot.svg" width="100" height="100" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cuccok</h5>
        <p class="card-text">Nézz szét az apróhirdetések között! Lehet, hogy pont itt találsz szuper mászócuccot, ruhát, vagy egyéb kiegészítőt...</p>
      </div>
      <div class="card-button">
        <a routerLink="/cuccok" class="btn btn-lg btn-primary">Cuccok</a>
      </div>
      <div class="card-footer bg-mylight" *ngIf="items && events">
        <small class="text-muted">{{items}} cucc</small>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top card-img-home" src="../assets/vector/map.svg" width="100" height="100" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Túrák</h5>
        <p class="card-text">Légy részese a kalandoknak! Csatlakozz a legjobb túrákhoz, melyeket a közösség tagjai szerveznek...</p>
      </div>
      <div class="card-button">
        <a routerLink="/turak" class="btn btn-lg btn-primary">Túrák</a>
      </div>
      <div class="card-footer bg-mylight" *ngIf="events && items">
        <small class="text-muted">{{events}} túra</small>
      </div>
    </div>
  </div>
</div>
