<div>
  <app-chat-window
    *ngFor="let window of windows$ | async"
    [id]="window.id"
    [roomId]="window.roomId"
    [title]="window.title"
    [closeable]="window.closeable"
    [isNewFriend]="window.isNewFriend"
    [friend]="window.friend"
    (closeChatWindow)="removeChat(window.id)"
    (addFriend)="addFriend(window.roomId)"
    (sendTick)="sendTick(window.friend.$id)"
    [floating]="false">
  </app-chat-window>
  <!--class="col-sm col-md-3 align-self-end"-->
  <!--<app-chat-list-->
    <!--class="col-sm col-md-2 align-self-end ml-auto"-->
    <!--(select)="onSelectFriend($event)"></app-chat-list>-->
</div>
<app-chat-list
  *ngIf="openChatList"
  (select)="onSelectFriend($event)"></app-chat-list>
