<div>
  <app-chat-window
    *ngFor="let config of windows$ | async"
    [id]="config.id"
    [roomId]="config.roomId"
    [title]="config.title"
    [closeable]="config.closeable"
    [new]="config.new"
    (closeChatWindow)="removeChat(config.id)"
    (addFriend)="addFriend(config.roomId)"
    [floating]="false">
  </app-chat-window>
  <!--class="col-sm col-md-3 align-self-end"-->
  <!--<app-chat-list-->
    <!--class="col-sm col-md-2 align-self-end ml-auto"-->
    <!--(select)="onSelectFriend($event)"></app-chat-list>-->
</div>
<app-chat-list
  *ngIf="openChatList"
  (select)="onSelectFriend($event)"></app-chat-list>
